#main-principal {

    #hero {
            #box-piramide {
                @include flex-cont_w-h-jc-ai-bc-fd ( none , none , center , center);
                padding: 2rem 0;
                
                img {
                    width: 75vw;
    
                    max-width: 390px;
                }
            }
    
            #box-text {
                text-align: center;
                margin-top: 3em;
    
                h2 {
                    font-family: 'Roboto', sans-serif;
                    font-size: 1.75em;
    
                    span {
                        color: $blueDark;
                        font-style: italic;
                    }
                }
            }
    
            #box-cta {
                display: flex;
                justify-content: center;
    
                .button {
                    @include button();
                }
            }
    
            #box-estructures_hero {
                width: 100vw;
                height: 30vh;
                position: relative;
    
                #el-1 {
                    @include position-t-r-b-l (none , none , 3vh , 0);
    
                    width: 9.4em;
                } 
    
                #el-2 {
                    @include position-t-r-b-l (none , 0 , 3.5vh , none);
    
                    width: 8.75em;
                }
            }      
    }

    #what-is-arbid {
        @include flex-cont_w-h-jc-ai-bc-fd (100vw , 97vh , center , center , transparent , column);
        position: relative;
            
        #el-3 {
            width: 11em;
            position: absolute;
            left: 0;
            top: 0;
        }
    
        #el-4 {
            width: 10em;
            position: absolute;
            right: 0;
            top: 0;
        }
    
    
        #text_wia {
            width: 80vw;
            height: 32.5vh;
            text-align: justify;
            transform: translate(1rem , 1rem);
    
            h1 {
                @include letras_fs-ff-c (3.34em, $generalFont , none);
                text-align: left;
                line-height: .9;
    
                span { 
                    font-size: .65em; 
                }
            }

            p {
                font-size: 1em
            }
    
            #autoasesoria {
                @include basic-cont_w-h-bc-b-br ( 8rem , 4rem , none  , none ,  0 1.5rem 0 1.5rem);
                @include letras_fs-ff-c ( 1rem ,  $generalFont , $blueDark);
                background: linear-gradient(to right, rgb(236, 229, 109), $yellowPrincipal);
                    
                &:focus { background-color: $yellowPrincipal; }
            }
        }

    
        #asesoria-image {
            width: 14rem; 
            position: absolute;
            bottom: 0;
            right: 2em;
        }
    }

    #marketing-strategy {
            @include flex-cont_w-h-jc-ai-bc-fd ( 100vw , none , space-around , center , transparent , column );
            margin-top: 4rem;
    
            #box-img_ms {
                @include flex-cont_w-h-jc-ai-bc-fd (100vw , none , center , center );
                width: 80vw; 
                position: relative;
    
                margin-bottom: 3rem;
                padding-top: 2.5rem;
                
                // ! ESTILOS PARA EL TEXTO QUE RODEA LA IMAGEN
                div {
                    h2 {
                        @include letras_fs-ff-c (1.6rem , $generalFont , $blueDark);
                        @include position-t-r-b-l (5.4rem , none , none , 4.5rem);
                        text-align: center;
                        line-height: .9;

                        span {  
                            font-size: 1.24rem ;
                            color: $blue-light
                        }
                    }

                    .strategy-types {
                        h3 {
                            @include letras_fs-ff-c (1.125rem , $generalFont , $yellowPrincipal);
                        }
        
                        #ads_ms {
                            @include position-t-r-b-l (0 , none , none , .3rem);
                        }
        
                        #re-marketing_ms {
                            @include position-t-r-b-l (0 , .3rem , none , none);
                            text-align: right;
                        }
            
                        #redes_ms {
                            @include position-t-r-b-l (none , none , -.2rem , .3rem);
                        }
                    }

                    p {
                        @include position-t-r-b-l (none , 0 , -1rem , none);
                        @include logo (1.5rem);
                    }
                }
    
                img {
                    width: 80vw;
                }
    
            }
    
            #box-info_ms {
                width: 80vw;
                text-align: justify;
    
                h3 {
                    @include letras_fs-ff-c ( 1.75rem , $generalFont , none );
    
                    span { 
                        font-size: 1.9rem
                    }
                }
    
                p {  
                    .arbid_span { 
                        @include logo(1.2rem); 
                    }
                }
    
                hr {
                    @include hr_w-c;
                    margin: 2rem 0
                }

                .cta-services {
                    @include flex-cont_w-h-jc-ai-bc-fd (80vw , none , center , center , transparent , column);
                    text-align: center
                }
    
                .button {
                    @include button();
                }
            }
    }

    #arbid-goal {
        @include flex-cont_w-h-jc-ai-bc-fd (100vw , 107vh , start , center , trasparent , column);
    
        #ilustrations_ag {
            @include flex-cont_w-h-jc-ai-bc-fd (100vw , none , center , center , transparent , column);
    
            #arrow_ag {
                width: 85vw;
                margin: 1rem 0 -.5rem 0;
            }
        
            #ilustration-background {
                width: 79vw;
                margin: 1.2rem 0 2.5rem 0;
            }
        }
    
        #text_ag {
            width: 80vw;
            height: 50vh;
            text-align: center;

            header {
                h3 {
                    @include letras_fs-ff-c (2rem , $generalFont , none);

                    .arbid_span {
                        @include logo (2rem);

                        span {
                            color: $yellowPrincipal;
                        }
                    }

                    #world-1_span {
                        color: $blueDark;
                        font-size: 2.5rem;

                        #world-2_span {
                            color: $blue-light;
                        }
                    }
                }

                hr {
                    @include hr_w-c(.5rem);
                    width: 6rem;
                    margin: 1rem auto
                }

                h4 {
                    @include letras_fs-ff-c (1.5rem , $generalFont , $blue-light);

                    .arbid_span {
                        @include logo (1.5rem);
                    }
                    
                }
            }

            article {
                margin-top: 1rem;
                text-align: justify;
            }

            footer {
                .button {
                    @include button( $yellowPrincipal );
                }

                hr {
                    @include hr_w-c();
                    margin: 1.6rem auto
                }
            }
        }
    }

    #quoate-services {
        @include flex-cont_w-h-jc-ai-bc-fd (100vw , none , space-around , center , transparent , column);
        text-align: center;

        header {
            margin-top: 1.5rem;

            h3 {
                @include letras_fs-ff-c (1.8rem , $generalFont , $blueDark);

                .arbid_span {
                    @include logo (2rem);

                    span { color: $yellowPrincipal; }
                }

                #necessary_span {
                    font-size: 2rem;
                }
            }
        }

        .container-services {
        
            .services {
                display: flex;
                flex-direction: column;
                align-items: center;

                margin: 1.25rem 0;

                .content-services {
                    width: 11rem;
                    
                    img {
                        width: 40vw;
                    }
    
                    h2 {
                        @include logo (1.8rem);
                        margin-top: 1rem;
                        margin-bottom: 0;

                        span { color: $yellowPrincipal; }
                    }

                    button {
                        background-color: transparent;
                        width: 8rem;
                        height: 2.5rem;

                        p , i{
                            display: inline;
                            color: black;
                        }
                    }

                }

            }

            #first-services {
                margin-top: -1.5rem;
            }
        }

        footer {
            button {
                @include button($yellowPrincipal , 12rem)
            }

            hr {
                @include hr_w-c();
                width: 80vw;
                margin: 2rem 0;
            }
        }

    }

}
