#header-principal {
    @include flex-cont_w-h-jc-ai-bc-fd ( 100vw , none , space-between , center , $white );
    box-shadow: 0 .1rem .6rem -.3rem black;

    position: fixed;
    z-index: 1000;
    top: 0;

    padding: .7em 0;
    padding-right: 0.6rem;
    
    #logo {
        width: 3.8em;
        transform: translate(.7em , -.1em);
    }
    
    
    #text-logo {
        @include logo ( 2.5em );
        transform: translateY(1rem);
    }
    
    
    #menu {
        width: 2.8em;
    }
}