#footer-principal {
    @include flex-cont_w-h-jc-ai-bc-fd (100vw , none , center , center);
    text-align: center;

    #contact {
        @include flex-cont_w-h-jc-ai-bc-fd (80vw , none , space-around , center , transparent , column);

        h4 {
            @include letras_fs-ff-c (2.77em , $generalFont , $blueDark);
            line-height: .9;
            text-align: right;
    
            span {
                color: $blue-light;
                font-size: 1.5em
            }
        }
    
        h5 {
            font-size: 1.2em;
            margin: 1em 0 2em 0;
            letter-spacing: .13em;
    
            .arbid_span {
                @include logo (1.2em);
    
                span { color: $yellowPrincipal; }
            }
    
            span {
                color:$purpule;
                letter-spacing: 0;
            }
        }
    
        #social-networks_container {
            @include flex-cont_w-h-jc-ai-bc-fd (80vw , none , space-around , center);
    
            img{
                width: 2em;
            }
    
            a {
                text-decoration: none;
            }
        }
    
        img {
            width: 100vw;
        }
    }
}