* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
* article, * aside, * details, * figcaption, * figure,
* footer, * header, * hgroup, * menu, * nav, * section {
  display: block;
}
* body {
  line-height: 1;
  overflow-x: hidden;
}
* body ol, * body ul {
  list-style: none;
}
* body blockquote, * body q {
  quotes: none;
}
* body blockquote:before, * body blockquote:after,
* body q:before, * body q:after {
  content: "";
  content: none;
}
* body table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}
body span {
  color: #fab403;
}
body main {
  margin-top: 10vh;
  color: #00373d;
}
body main p {
  font-size: 1em;
  font-family: "Poppins", sans-serif;
  color: #00373d;
}
body main h1, body main h2, body main h3, body main h4 {
  color: #00373d;
}
body main h1 span, body main h2 span, body main h3 span, body main h4 span {
  color: #00929b;
}
body main .color-light {
  color: #fab403;
}

#header-principal {
  width: 100vw;
  height: none;
  background-color: #ffffff;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
  box-shadow: 0 0.1rem 0.6rem -0.3rem black;
  position: fixed;
  z-index: 1000;
  top: 0;
  padding: 0.7em 0;
  padding-right: 0.6rem;
}
#header-principal #logo {
  width: 3.8em;
  transform: translate(0.7em, -0.1em);
}
#header-principal #text-logo {
  color: #004f83;
  font-family: "MuseoModerno", cursive;
  font-size: 2.5em;
  transform: translateY(1rem);
}
#header-principal #menu {
  width: 2.8em;
}

@media screen and (min-width: 850px) {
  #header-principal {
    font-size: 1.25rem;
    padding: 0.4rem 4.2rem 0.4rem 2.8rem;
  }
  #header-principal #text-logo {
    transform: translateY(1.3rem);
  }
}
nav {
  width: 100vw;
  height: none;
  background-color: #ffffff;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  box-shadow: 0 0.1em 0.6em -0.3em black;
  text-align: center;
  position: absolute;
  top: -40em;
}
nav ul {
  margin: -0.6em 0 0.5em 0;
}
nav ul li {
  font-size: 1em;
  font-family: "Poppins", sans-serif;
  color: #00373d;
  margin: 1em 0;
}
nav ul img {
  width: 1.5em;
  margin-right: 0.5em;
}

#main-principal #hero #box-piramide {
  width: none;
  height: none;
  background-color: transparent;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 2rem 0;
}
#main-principal #hero #box-piramide img {
  width: 75vw;
  max-width: 390px;
}
#main-principal #hero #box-text {
  text-align: center;
  margin-top: 3em;
}
#main-principal #hero #box-text h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.75em;
}
#main-principal #hero #box-text h2 span {
  color: #00373d;
  font-style: italic;
}
#main-principal #hero #box-cta {
  display: flex;
  justify-content: center;
}
#main-principal #hero #box-cta .button {
  width: 10em;
  height: 2.8em;
  background-color: #00929b;
  border: none;
  border-radius: 0.625rem;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  letter-spacing: 0.15rem;
}
#main-principal #hero #box-estructures_hero {
  width: 100vw;
  height: 30vh;
  position: relative;
}
#main-principal #hero #box-estructures_hero #el-1 {
  position: absolute;
  top: none;
  right: none;
  bottom: 3vh;
  left: 0;
  width: 9.4em;
}
#main-principal #hero #box-estructures_hero #el-2 {
  position: absolute;
  top: none;
  right: 0;
  bottom: 3.5vh;
  left: none;
  width: 8.75em;
}
#main-principal #what-is-arbid {
  width: 100vw;
  height: 97vh;
  background-color: transparent;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}
#main-principal #what-is-arbid #el-3 {
  width: 11em;
  position: absolute;
  left: 0;
  top: 0;
}
#main-principal #what-is-arbid #el-4 {
  width: 10em;
  position: absolute;
  right: 0;
  top: 0;
}
#main-principal #what-is-arbid #text_wia {
  width: 80vw;
  height: 32.5vh;
  text-align: justify;
  transform: translate(1rem, 1rem);
}
#main-principal #what-is-arbid #text_wia h1 {
  font-size: 3.1em;
  font-family: "Poppins", sans-serif;
  color: none;
  text-align: center;
  line-height: 0.9;
}
#main-principal #what-is-arbid #text_wia h1 span {
  font-size: 0.65em;
}
#main-principal #what-is-arbid #text_wia p {
  font-size: 1em;
}
#main-principal #what-is-arbid #text_wia #autoasesoria {
  width: 8rem;
  height: 4rem;
  background-color: none;
  border: none;
  border-radius: 0 1.5rem 0 1.5rem;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  color: #00373d;
  background: linear-gradient(to right, rgb(236, 229, 109), #fab403);
}
#main-principal #what-is-arbid #text_wia #autoasesoria:focus {
  background-color: #fab403;
}
#main-principal #what-is-arbid #asesoria-image {
  width: 50vw;
  position: absolute;
  bottom: 0;
  right: 2em;
  max-width: 250px;
}
#main-principal #marketing-strategy .row {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}
#main-principal #marketing-strategy .row #box-img_ms {
  position: relative;
  margin-bottom: 3rem;
  padding-top: 2.5rem;
}
#main-principal #marketing-strategy .row #box-img_ms div h2 {
  font-size: 1.5em;
  font-family: "Poppins", sans-serif;
  color: #00373d;
  width: 100%;
  position: absolute;
  top: 5.5rem;
  transform: translateX(-0.5rem);
  text-align: center;
  line-height: 1em;
}
#main-principal #marketing-strategy .row #box-img_ms div h2 span {
  font-size: 0.85em;
  color: #00929b;
}
#main-principal #marketing-strategy .row #box-img_ms div .strategy-types h3 {
  font-size: 1.1em;
  font-family: "Poppins", sans-serif;
  color: #fab403;
}
#main-principal #marketing-strategy .row #box-img_ms div .strategy-types #ads_ms {
  position: absolute;
  top: 0;
  right: none;
  bottom: none;
  left: 0.3rem;
}
#main-principal #marketing-strategy .row #box-img_ms div .strategy-types #re-marketing_ms {
  position: absolute;
  top: 0;
  right: 0.3rem;
  bottom: none;
  left: none;
  text-align: right;
}
#main-principal #marketing-strategy .row #box-img_ms div .strategy-types #redes_ms {
  position: absolute;
  top: none;
  right: none;
  bottom: -0.2rem;
  left: 0.3rem;
}
#main-principal #marketing-strategy .row #box-img_ms div p {
  position: absolute;
  top: none;
  right: 0;
  bottom: -1rem;
  left: none;
  color: #004f83;
  font-family: "MuseoModerno", cursive;
  font-size: 1.5em;
}
#main-principal #marketing-strategy .row #box-img_ms img {
  width: 100%;
}
#main-principal #marketing-strategy .row #box-info_ms {
  text-align: justify;
}
#main-principal #marketing-strategy .row #box-info_ms h3 {
  font-size: 1.6em;
  font-family: "Poppins", sans-serif;
  color: none;
  width: 100%;
  text-align: center;
}
#main-principal #marketing-strategy .row #box-info_ms h3 span {
  font-size: 1.09em;
}
#main-principal #marketing-strategy .row #box-info_ms p .arbid_span {
  color: #004f83;
  font-family: "MuseoModerno", cursive;
  font-size: 1.2em;
}
#main-principal #marketing-strategy .row #box-info_ms hr {
  border-radius: 0.6rem;
  opacity: 1;
  border-width: 0.2rem;
  border-color: #fab403;
  margin: 2rem 0;
}
#main-principal #marketing-strategy .row #box-cta_ms {
  width: 100%;
  height: none;
  background-color: transparent;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
}
#main-principal #marketing-strategy .row #box-cta_ms button {
  width: 10em;
  height: 2.8em;
  background-color: #00929b;
  border: none;
  border-radius: 0.625rem;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  letter-spacing: 0.15rem;
}
#main-principal #arbid-goal .row {
  display: flex;
  justify-content: center;
}
#main-principal #arbid-goal .row #arrow_ag {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}
#main-principal #arbid-goal .row #arrow_ag img {
  width: 85%;
}
#main-principal #arbid-goal .row #ilustration-background {
  margin: 2.5rem 0 2.5rem 0;
}
#main-principal #arbid-goal .row #text_ag {
  text-align: center;
}
#main-principal #arbid-goal .row #text_ag header h3 {
  font-size: 1.8em;
  font-family: "Poppins", sans-serif;
  color: none;
}
#main-principal #arbid-goal .row #text_ag header h3 .arbid_span {
  color: #004f83;
  font-family: "MuseoModerno", cursive;
  font-size: 1em;
}
#main-principal #arbid-goal .row #text_ag header h3 .arbid_span span {
  color: #fab403;
}
#main-principal #arbid-goal .row #text_ag header h3 #world-1_span {
  color: #00373d;
  font-size: 1.2em;
}
#main-principal #arbid-goal .row #text_ag header h3 #world-1_span #world-2_span {
  color: #00929b;
}
#main-principal #arbid-goal .row #text_ag header hr {
  border-radius: 0.6rem;
  opacity: 1;
  border-width: 0.5em;
  border-color: #fab403;
  width: 6em;
  margin: 1em auto;
}
#main-principal #arbid-goal .row #text_ag header h4 {
  font-size: 1.4em;
  font-family: "Poppins", sans-serif;
  color: #00929b;
}
#main-principal #arbid-goal .row #text_ag header h4 .arbid_span {
  color: #004f83;
  font-family: "MuseoModerno", cursive;
  font-size: 1em;
}
#main-principal #arbid-goal .row #text_ag article {
  margin-top: 1rem;
  text-align: justify;
}
#main-principal #arbid-goal .row button {
  width: 10em;
  height: 2.8em;
  background-color: #fab403;
  border: none;
  border-radius: 0.625rem;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  letter-spacing: 0.15rem;
}
#main-principal #arbid-goal .row hr {
  border-radius: 0.6rem;
  opacity: 1;
  border-width: 0.2rem;
  border-color: #fab403;
  margin: 1.6rem;
  width: 80%;
}
#main-principal #quoate-services {
  text-align: center;
}
#main-principal #quoate-services header {
  width: 100%;
  height: none;
  background-color: transparent;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 1.5em;
}
#main-principal #quoate-services header h3 {
  width: 80%;
  font-size: 1.7em;
  font-family: "Poppins", sans-serif;
  color: #00373d;
}
#main-principal #quoate-services header h3 .arbid_span {
  color: #004f83;
  font-family: "MuseoModerno", cursive;
  font-size: 1.1em;
}
#main-principal #quoate-services header h3 .arbid_span span {
  color: #fab403;
}
#main-principal #quoate-services header h3 #necessary_span {
  font-size: 1em;
}
#main-principal #quoate-services .container-services {
  width: 100vw;
  height: none;
  background-color: transparent;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
#main-principal #quoate-services .container-services .services1-2, #main-principal #quoate-services .container-services .services3-4 {
  width: none;
  height: none;
  background-color: transparent;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  display: flex;
  flex-wrap: wrap;
}
#main-principal #quoate-services .container-services .services1-2 {
  margin-top: 2rem;
}
#main-principal #quoate-services .container-services .services3-4 {
  margin-bottom: 2rem;
}
#main-principal #quoate-services .container-services .services {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main-principal #quoate-services .container-services .services .content-services {
  width: 11rem;
}
#main-principal #quoate-services .container-services .services .content-services img {
  width: 40vw;
  max-width: 200px;
}
#main-principal #quoate-services .container-services .services .content-services h2 {
  color: #004f83;
  font-family: "MuseoModerno", cursive;
  font-size: 1.8em;
  margin-top: 1em;
  margin-bottom: 0;
}
#main-principal #quoate-services .container-services .services .content-services h2 span {
  color: #fab403;
}
#main-principal #quoate-services .container-services .services .content-services button {
  background-color: transparent;
  width: 8rem;
  height: 2.5rem;
}
#main-principal #quoate-services .container-services .services .content-services button p, #main-principal #quoate-services .container-services .services .content-services button i {
  display: inline;
  color: black;
}
#main-principal #quoate-services footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main-principal #quoate-services footer button {
  width: 12rem;
  height: 2.8em;
  background-color: #fab403;
  border: none;
  border-radius: 0.625rem;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  letter-spacing: 0.15rem;
}
#main-principal #quoate-services footer hr {
  border-radius: 0.6rem;
  opacity: 1;
  border-width: 0.2rem;
  border-color: #fab403;
  width: 80vw;
  margin: 2rem 0;
}

@media screen and (min-width: 768px) {
  #main-principal #hero {
    margin-bottom: -5rem;
    font-size: 1.7rem;
  }
  #main-principal #hero #box-piramide {
    justify-content: end;
    padding: 2rem 3rem 0.5rem 0;
  }
  #main-principal #hero #box-text {
    display: flex;
    justify-content: start;
    align-items: center;
    transform: translate(-2rem, 2.5rem);
    text-align: left;
  }
  #main-principal #hero #box-cta button {
    transform: scale(1.2);
  }
  #main-principal #hero #box-estructures_hero {
    transform: translateY(-6rem);
    font-size: 1.3rem;
  }
  #main-principal #what-is-arbid {
    font-size: 1.4rem;
    justify-content: start;
  }
  #main-principal #what-is-arbid #text_wia {
    width: 60vw;
    max-width: 850px;
    margin-left: 2rem;
  }
  #main-principal #what-is-arbid #text_wia p {
    margin: 1em 0;
  }
  #main-principal #what-is-arbid #asesoria-image {
    right: 100px;
  }
  #main-principal #marketing-strategy #box-img_ms {
    transform: translateX(-4rem);
    font-size: 1.1rem;
  }
  #main-principal #marketing-strategy #box-img_ms h2 {
    display: none;
  }
  #main-principal #marketing-strategy #box-img_ms p {
    transform: translate(-0.5rem, 0);
  }
  #main-principal #marketing-strategy #box-info_ms {
    transform: translateX(6rem);
    font-size: 1.4rem;
  }
  #main-principal #marketing-strategy #box-info_ms h3 {
    text-align: center;
    margin-bottom: -1rem;
  }
  #main-principal #marketing-strategy #box-info_ms hr {
    display: none;
  }
  #main-principal #marketing-strategy #box-info_ms p {
    margin-top: 2rem;
    text-align: center;
    line-height: 1.4em;
  }
  #main-principal #marketing-strategy #box-cta_ms button {
    transform: scale(1.2);
  }
  #main-principal #arbid-goal .row #arrow_ag img {
    max-width: 500px;
    margin: 3rem 0;
  }
  #main-principal #arbid-goal .row #ilustration-background {
    transform: translateX(4rem);
  }
  #main-principal #arbid-goal .row #text_ag {
    transform: translateX(-2rem);
    font-size: 1.2rem;
  }
  #main-principal #arbid-goal .row #text_ag p {
    text-align: center;
  }
  #main-principal #quoate-services header h3 {
    transform: scale(1.4);
  }
  #main-principal #quoate-services .container-services {
    margin: 2rem 0;
  }
  #main-principal #quoate-services .container-services .services1-2 {
    margin-top: 0;
  }
  #main-principal #quoate-services .container-services .services3-4 {
    margin-bottom: 0;
  }
}
#footer-principal {
  width: 100vw;
  height: none;
  background-color: transparent;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
}
#footer-principal #contact {
  width: 80vw;
  height: none;
  background-color: transparent;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  display: flex;
}
#footer-principal #contact h4 {
  font-size: 2.77em;
  font-family: "Poppins", sans-serif;
  color: #00373d;
  line-height: 0.9;
  text-align: right;
}
#footer-principal #contact h4 span {
  color: #00929b;
  font-size: 1.5em;
}
#footer-principal #contact h5 {
  font-size: 1.2em;
  margin: 1em 0 2em 0;
  letter-spacing: 0.13em;
}
#footer-principal #contact h5 .arbid_span {
  color: #004f83;
  font-family: "MuseoModerno", cursive;
  font-size: 1.2em;
}
#footer-principal #contact h5 .arbid_span span {
  color: #fab403;
}
#footer-principal #contact h5 span {
  color: #323366;
  letter-spacing: 0;
}
#footer-principal #contact #social-networks_container {
  width: 80vw;
  height: none;
  background-color: transparent;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  display: flex;
}
#footer-principal #contact #social-networks_container img {
  width: 2em;
}
#footer-principal #contact #social-networks_container a {
  text-decoration: none;
}
#footer-principal #contact img {
  width: 100vw;
}

@media screen and (min-width: 768px) {
  #footer-principal #contact {
    font-size: 1.3rem;
  }
  #footer-principal #contact h4 {
    text-align: right;
  }
  #footer-principal #contact #social-networks_container {
    max-width: 600px;
  }
  #footer-principal img {
    max-width: 800px;
  }
}/*# sourceMappingURL=style.css.map */